


<h2 class="title">Task List</h2>
<!-- <button class="add-btn" (click)="addTask()">Add Task</button> -->
<button class="add-btn" (click)="toggleAddTask()">
  {{ showAddTask ? 'Close' : 'Add Task' }}
</button>

<!-- Show AddTask component only when button is pressed -->
<div *ngIf="showAddTask">
  <app-add-task></app-add-task>
</div>

<div *ngIf="showUpdateTask">
    <button class="add-btn" (click)="toggleUpdateTask()">
  Close
</button>

  <app-update-task></app-update-task>
</div>


<div class="task-grid">

  @for (task of tasks; track task._id; let i = $index) {
  <div class="task-card">
    <div class="task-info">
      <h3>
        {{ task.title }}
        <span class="status" >
          {{ task.completed ? "(Completed)" : "(Pending)" }}
        </span>
      </h3>
      <p class="description">{{ task.description }}</p>

      <p><strong>Priority:</strong> <span>{{ task.priority }}</span></p>
      <p><strong>Category:</strong> {{ task.category }}</p>
     

      <div class="btn-group">
        <button class="update-btn" (click)="updateTask(task._id, i)">
          Edit
        </button>
        
        <button class="delete-btn" (click)="deleteTask(task._id, i)">
          Delete
        </button>
      </div>
    </div>
  </div>
  }
</div>
